# API with Python

In [1]:
# Imports
import requests #--> To connect to API
import pandas as pd

### Dad Jokes : https://icanhazdadjoke.com/
Random Dad Joke generator.

In [2]:
dad_joke_url = 'https://icanhazdadjoke.com/'
dad_joke_req = requests.get(
    dad_joke_url,
    headers={'Accept': 'application/json'} # specify we want JSON back
)

In [3]:
dad_joke_req

In [4]:
dad_joke_req.json()

{'id': '9Mus4wkqzd',
 'joke': 'What do you get if you put a duck in a cement mixer? Quacks in the pavement.',
 'status': 200}

In [5]:
joke = dad_joke_req.json()['joke']
joke

'What do you get if you put a duck in a cement mixer? Quacks in the pavement.'

In [14]:
# Print 10 Different Jokes
list_of_jokes = []

for i in range(10):
    dad_joke_req = requests.get(
        dad_joke_url,
        headers={'Accept': 'application/json'} # specify we want JSON back
    )
    list_of_jokes.append(dad_joke_req.json()['joke'])

list_of_jokes

['How do you get a baby alien to sleep?  You rocket.',
 'I think circles are pointless.',
 "Why couldn't the kid see the pirate movie? Because it was rated arrr!",
 'Did you know that ghosts call their true love their ghoul-friend?',
 "Did you hear about the guy whose whole left side was cut off? He's all right now.",
 'Where does Fonzie like to go for lunch? Chick-Fil-Eyyyyyyyy.',
 'People are making apocalypse jokes like thereâ€™s no tomorrow.',
 'I went to the zoo the other day, there was only one dog in it. It was a shitzu.',
 'What do you call a group of killer whales playing instruments? An Orca-stra.',
 "What is a centipedes's favorite Beatle song?  I want to hold your hand, hand, hand, hand..."]

### Alpha Vantage : https://www.alphavantage.co/
Alpha Vantage provides realtime and historical financial market data through a set of powerful and developer-friendly data APIs and spreadsheets. From traditional asset classes (e.g., stocks, ETFs, mutual funds) to economic indicators, from foreign exchange rates to commodities, from fundamental data to technical indicators, Alpha Vantage is your one-stop-shop for enterprise-grade global market data delivered through cloud-based APIs, Excel, and Google Sheets.

In [6]:
# Alpha Vantage API Key
AV_API_KEY = 'LN7UZXDOF7QK4HEA'  #--> Always keep it stored somewhere!

In [7]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
av_url = f'https://www.alphavantage.co/query?function=CURRENCY_EXCHANGE_RATE&from_currency=USD&to_currency=BHD&apikey={AV_API_KEY}'
# Accessing the API and getting the data
av_req = requests.get(av_url)
# Getting the data in JSON format
data = av_req.json()

data

{'Realtime Currency Exchange Rate': {'1. From_Currency Code': 'USD',
  '2. From_Currency Name': 'United States Dollar',
  '3. To_Currency Code': 'BHD',
  '4. To_Currency Name': 'Bahraini Dinar',
  '5. Exchange Rate': '0.37690000',
  '6. Last Refreshed': '2024-07-20 13:16:32',
  '7. Time Zone': 'UTC',
  '8. Bid Price': '0.37689000',
  '9. Ask Price': '0.37690000'}}

In [18]:
currency = pd.read_csv('data/physical_currency_list.csv')
print('List of currency codes:')
for code in currency['currency code'].to_list():
    print(code)

List of currency codes:
AED
AFN
ALL
AMD
ANG
AOA
ARS
AUD
AWG
AZN
BAM
BBD
BDT
BGN
BHD
BIF
BMD
BND
BOB
BRL
BSD
BTN
BWP
BZD
CAD
CDF
CHF
CLF
CLP
CNH
CNY
COP
CUP
CVE
CZK
DJF
DKK
DOP
DZD
EGP
ERN
ETB
EUR
FJD
FKP
GBP
GEL
GHS
GIP
GMD
GNF
GTQ
GYD
HKD
HNL
HRK
HTG
HUF
ICP
IDR
ILS
INR
IQD
IRR
ISK
JEP
JMD
JOD
JPY
KES
KGS
KHR
KMF
KPW
KRW
KWD
KYD
KZT
LAK
LBP
LKR
LRD
LSL
LYD
MAD
MDL
MGA
MKD
MMK
MNT
MOP
MRO
MRU
MUR
MVR
MWK
MXN
MYR
MZN
NAD
NGN
NOK
NPR
NZD
OMR
PAB
PEN
PGK
PHP
PKR
PLN
PYG
QAR
RON
RSD
RUB
RUR
RWF
SAR
SBDf
SCR
SDG
SDR
SEK
SGD
SHP
SLL
SOS
SRD
SYP
SZL
THB
TJS
TMT
TND
TOP
TRY
TTD
TWD
TZS
UAH
UGX
USD
UYU
UZS
VND
VUV
WST
XAF
XCD
XDR
XOF
XPF
YER
ZAR
ZMW
ZWL

In [19]:
# Ask user for input Currency To and From & convert to upper case
curr_to = input('Enter currency to: ').upper()
curr_from = input('Enter currency from: ').upper()

# Send a request
av_url = f'https://www.alphavantage.co/query?function=CURRENCY_EXCHANGE_RATE&from_currency={curr_from}&to_currency={curr_to}&apikey={AV_API_KEY}'
# Accessing the API and getting the data
av_req = requests.get(av_url)
# Getting the data in JSON format
data = av_req.json()

data

Enter currency to:  USD
Enter currency from:  BHD

{'Information': 'Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}

## __API Exercise__

### OMDB API : https://www.omdbapi.com/
The OMDb API is a RESTful web service to obtain movie information, all content and images on the site are contributed and maintained by our users.

In [22]:
API_KEY = '169932e1'   #--> Always keep it stored somewhere!
# This is just for reference 
# url = f'http://www.omdbapi.com/?apikey={API_KEY}&t={MOVIE_NAME}&type=movie'
# omdb_req = requests.get(url)
# omdb_data = omdb_req.json()

In [23]:
# Read movie names from imdb_movie_names.csv
df_movie_name = pd.read_csv('data/imdb_movie_names.csv')
df_movie_name.head()

                Movie Names
0  The Shawshank Redemption
1             The Godfather
2     The Godfather Part II
3          Schindler's List
4           The Dark Knight

#### One Way of Requesting the data:
Requesting the data for each movie (10 times) and each time we add it to a list

In [25]:
# Run the request on 10 movies - You can try to do more later on
# Looping over a dataframe
movie_details = []
for name in df_movie_name['Movie Names'].to_list()[:10]:
    url = f'http://www.omdbapi.com/?apikey={API_KEY}&t={name}\
    &type=movie'
    omdb_req = requests.get(url)
    omdb_data = omdb_req.json()
    movie_details.append(omdb_data)
movie_details

[{'Title': 'The Shawshank Redemption',
  'Year': '1994',
  'Rated': 'R',
  'Released': '14 Oct 1994',
  'Runtime': '142 min',
  'Genre': 'Drama',
  'Director': 'Frank Darabont',
  'Writer': 'Stephen King, Frank Darabont',
  'Actors': 'Tim Robbins, Morgan Freeman, Bob Gunton',
  'Plot': 'Over the course of several years, two convicts form a friendship, seeking consolation and, eventually, redemption through basic compassion.',
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'Nominated for 7 Oscars. 21 wins & 42 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNDE3ODcxYzMtY2YzZC00NmNlLWJiNDMtZDViZWM2MzIxZDYwXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.3/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '89%'},
   {'Source': 'Metacritic', 'Value': '82/100'}],
  'Metascore': '82',
  'imdbRating': '9.3',
  'imdbVotes': '2,907,297',
  'imdbID': 'tt0111161',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$28,767,189',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'The Godfather',
  'Year': '1972',
  'Rated': 'R',
  'Released': '24 Mar 1972',
  'Runtime': '175 min',
  'Genre': 'Crime, Drama',
  'Director': 'Francis Ford Coppola',
  'Writer': 'Mario Puzo, Francis Ford Coppola',
  'Actors': 'Marlon Brando, Al Pacino, James Caan',
  'Plot': 'Don Vito Corleone, head of a mafia family, decides to hand over his empire to his youngest son, Michael. However, his decision unintentionally puts the lives of his loved ones in grave danger.',
  'Language': 'English, Italian, Latin',
  'Country': 'United States',
  'Awards': 'Won 3 Oscars. 31 wins & 31 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.2/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '97%'},
   {'Source': 'Metacritic', 'Value': '100/100'}],
  'Metascore': '100',
  'imdbRating': '9.2',
  'imdbVotes': '2,031,306',
  'imdbID': 'tt0068646',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$136,381,073',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'The Godfather Part II',
  'Year': '1974',
  'Rated': 'R',
  'Released': '18 Dec 1974',
  'Runtime': '202 min',
  'Genre': 'Crime, Drama',
  'Director': 'Francis Ford Coppola',
  'Writer': 'Francis Ford Coppola, Mario Puzo',
  'Actors': 'Al Pacino, Robert De Niro, Robert Duvall',
  'Plot': 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.',
  'Language': 'English, Italian, Spanish, Latin, Sicilian',
  'Country': 'United States',
  'Awards': 'Won 6 Oscars. 17 wins & 21 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.0/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '96%'},
   {'Source': 'Metacritic', 'Value': '90/100'}],
  'Metascore': '90',
  'imdbRating': '9.0',
  'imdbVotes': '1,371,756',
  'imdbID': 'tt0071562',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$47,834,595',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': "Schindler's List",
  'Year': '1993',
  'Rated': 'R',
  'Released': '04 Feb 1994',
  'Runtime': '195 min',
  'Genre': 'Biography, Drama, History',
  'Director': 'Steven Spielberg',
  'Writer': 'Thomas Keneally, Steven Zaillian',
  'Actors': 'Liam Neeson, Ralph Fiennes, Ben Kingsley',
  'Plot': 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.',
  'Language': 'English, Hebrew, German, Polish, Latin',
  'Country': 'United States',
  'Awards': 'Won 7 Oscars. 91 wins & 49 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.0/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '98%'},
   {'Source': 'Metacritic', 'Value': '95/100'}],
  'Metascore': '95',
  'imdbRating': '9.0',
  'imdbVotes': '1,462,041',
  'imdbID': 'tt0108052',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$96,898,818',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'The Dark Knight',
  'Year': '2008',
  'Rated': 'PG-13',
  'Released': '18 Jul 2008',
  'Runtime': '152 min',
  'Genre': 'Action, Crime, Drama',
  'Director': 'Christopher Nolan',
  'Writer': 'Jonathan Nolan, Christopher Nolan, David S. Goyer',
  'Actors': 'Christian Bale, Heath Ledger, Aaron Eckhart',
  'Plot': 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.',
  'Language': 'English, Mandarin',
  'Country': 'United States, United Kingdom',
  'Awards': 'Won 2 Oscars. 164 wins & 164 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.0/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '94%'},
   {'Source': 'Metacritic', 'Value': '84/100'}],
  'Metascore': '84',
  'imdbRating': '9.0',
  'imdbVotes': '2,896,249',
  'imdbID': 'tt0468569',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$534,987,076',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'The Lord of the Rings: The Return of the King',
  'Year': '2003',
  'Rated': 'PG-13',
  'Released': '17 Dec 2003',
  'Runtime': '201 min',
  'Genre': 'Action, Adventure, Drama',
  'Director': 'Peter Jackson',
  'Writer': 'J.R.R. Tolkien, Fran Walsh, Philippa Boyens',
  'Actors': 'Elijah Wood, Viggo Mortensen, Ian McKellen',
  'Plot': "Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.",
  'Language': 'English, Quenya, Old English, Sindarin',
  'Country': 'New Zealand, United States',
  'Awards': 'Won 11 Oscars. 215 wins & 124 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.0/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '94%'},
   {'Source': 'Metacritic', 'Value': '94/100'}],
  'Metascore': '94',
  'imdbRating': '9.0',
  'imdbVotes': '1,995,895',
  'imdbID': 'tt0167260',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$381,878,219',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Pulp Fiction',
  'Year': '1994',
  'Rated': 'R',
  'Released': '14 Oct 1994',
  'Runtime': '154 min',
  'Genre': 'Crime, Drama',
  'Director': 'Quentin Tarantino',
  'Writer': 'Quentin Tarantino, Roger Avary',
  'Actors': 'John Travolta, Uma Thurman, Samuel L. Jackson',
  'Plot': 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.',
  'Language': 'English, Spanish, French',
  'Country': 'United States',
  'Awards': 'Won 1 Oscar. 69 wins & 72 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.9/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '92%'},
   {'Source': 'Metacritic', 'Value': '95/100'}],
  'Metascore': '95',
  'imdbRating': '8.9',
  'imdbVotes': '2,240,306',
  'imdbID': 'tt0110912',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$107,928,762',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Fight Club',
  'Year': '1999',
  'Rated': 'R',
  'Released': '15 Oct 1999',
  'Runtime': '139 min',
  'Genre': 'Drama',
  'Director': 'David Fincher',
  'Writer': 'Chuck Palahniuk, Jim Uhls',
  'Actors': 'Brad Pitt, Edward Norton, Meat Loaf',
  'Plot': 'An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.',
  'Language': 'English',
  'Country': 'Germany, United States',
  'Awards': 'Nominated for 1 Oscar. 12 wins & 38 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMmEzNTkxYjQtZTc0MC00YTVjLTg5ZTEtZWMwOWVlYzY0NWIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.8/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '80%'},
   {'Source': 'Metacritic', 'Value': '67/100'}],
  'Metascore': '67',
  'imdbRating': '8.8',
  'imdbVotes': '2,347,815',
  'imdbID': 'tt0137523',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$37,030,102',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Forrest Gump',
  'Year': '1994',
  'Rated': 'PG-13',
  'Released': '06 Jul 1994',
  'Runtime': '142 min',
  'Genre': 'Drama, Romance',
  'Director': 'Robert Zemeckis',
  'Writer': 'Winston Groom, Eric Roth',
  'Actors': 'Tom Hanks, Robin Wright, Gary Sinise',
  'Plot': "The history of the United States from the 1950s to the '70s unfolds from the perspective of an Alabama man with an IQ of 75, who yearns to be reunited with his childhood sweetheart.",
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'Won 6 Oscars. 51 wins & 74 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.8/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '76%'},
   {'Source': 'Metacritic', 'Value': '82/100'}],
  'Metascore': '82',
  'imdbRating': '8.8',
  'imdbVotes': '2,271,898',
  'imdbID': 'tt0109830',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$330,455,270',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Inception',
  'Year': '2010',
  'Rated': 'PG-13',
  'Released': '16 Jul 2010',
  'Runtime': '148 min',
  'Genre': 'Action, Adventure, Sci-Fi',
  'Director': 'Christopher Nolan',
  'Writer': 'Christopher Nolan',
  'Actors': 'Leonardo DiCaprio, Joseph Gordon-Levitt, Elliot Page',
  'Plot': 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.',
  'Language': 'English, Japanese, French',
  'Country': 'United States, United Kingdom',
  'Awards': 'Won 4 Oscars. 159 wins & 220 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.8/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '87%'},
   {'Source': 'Metacritic', 'Value': '74/100'}],
  'Metascore': '74',
  'imdbRating': '8.8',
  'imdbVotes': '2,572,598',
  'imdbID': 'tt1375666',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$292,587,330',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'}]

In [26]:
# Keep the following columns. Note you might need to do extra work for the some columns
# Title, Type, Year, Released, Rated, Runtime, Genre, Metascore, imdbRating, imdbVotes, BoxOffice, Internet Movie Database, Rotten Tomatoes, Metacritic
df_movies = pd.DataFrame(movie_details)
df_movies.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,Drama,Frank Darabont,"Stephen King, Frank Darabont","Tim Robbins, Morgan Freeman, Bob Gunton","Over the course of several years, two convicts...",...,82,9.3,"2,907,297",tt0111161,movie,N/A,"$28,767,189",N/A,N/A,True
1,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola","Marlon Brando, Al Pacino, James Caan","Don Vito Corleone, head of a mafia family, dec...",...,100,9.2,"2,031,306",tt0068646,movie,N/A,"$136,381,073",N/A,N/A,True
2,The Godfather Part II,1974,R,18 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo","Al Pacino, Robert De Niro, Robert Duvall",The early life and career of Vito Corleone in ...,...,90,9.0,"1,371,756",tt0071562,movie,N/A,"$47,834,595",N/A,N/A,True
3,Schindler's List,1993,R,04 Feb 1994,195 min,"Biography, Drama, History",Steven Spielberg,"Thomas Keneally, Steven Zaillian","Liam Neeson, Ralph Fiennes, Ben Kingsley","In German-occupied Poland during World War II,...",...,95,9.0,"1,462,041",tt0108052,movie,N/A,"$96,898,818",N/A,N/A,True
4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer","Christian Bale, Heath Ledger, Aaron Eckhart",When the menace known as the Joker wreaks havo...,...,84,9.0,"2,896,249",tt0468569,movie,N/A,"$534,987,076",N/A,N/A,True

In [27]:
# Clean up the data
# Title, Type, Year, Released, Rated, Runtime, Genre, Metascore, imdbRating, imdbVotes, BoxOffice, Internet Movie Database, Rotten Tomatoes, Metacritic
# Note : The columns Internet Movie Database, Rotten Tomatoes, and Metacritic and inside the Ratings column
df_movies['Ratings'].iloc[0]

# Instead of having them all in a column, we can add each in a new column
df_movies['Internet Movie Database'] = df_movies['Ratings'].iloc[0][0]['Value']
df_movies['Rotten Tomatoes'] = df_movies['Ratings'].iloc[0][1]['Value']
df_movies['Metacritic'] = df_movies['Ratings'].iloc[0][2]['Value']

# Select the columns that we need
df_movies = df_movies[['Title', 'Type', 'Year', 'Released', 'Rated', 'Runtime', 
                       'Genre', 'Metascore', 'imdbRating', 'imdbVotes', 'BoxOffice', 
                       'Internet Movie Database', 'Rotten Tomatoes', 'Metacritic']]
df_movies.head()

,Title,Type,Year,Released,Rated,Runtime,Genre,Metascore,imdbRating,imdbVotes,BoxOffice,Internet Movie Database,Rotten Tomatoes,Metacritic
0,The Shawshank Redemption,movie,1994,14 Oct 1994,R,142 min,Drama,82,9.3,"2,907,297","$28,767,189",9.3/10,89%,82/100
1,The Godfather,movie,1972,24 Mar 1972,R,175 min,"Crime, Drama",100,9.2,"2,031,306","$136,381,073",9.3/10,89%,82/100
2,The Godfather Part II,movie,1974,18 Dec 1974,R,202 min,"Crime, Drama",90,9.0,"1,371,756","$47,834,595",9.3/10,89%,82/100
3,Schindler's List,movie,1993,04 Feb 1994,R,195 min,"Biography, Drama, History",95,9.0,"1,462,041","$96,898,818",9.3/10,89%,82/100
4,The Dark Knight,movie,2008,18 Jul 2008,PG-13,152 min,"Action, Crime, Drama",84,9.0,"2,896,249","$534,987,076",9.3/10,89%,82/100

#### Another way to Request the data
Requesting the data and only taking the information needed and adding them to a list of their own

In [33]:
# Run the request on 10 movies - You can try to do more later on
# Looping over a dataframe
movie_details_ver2 = {
    'Title':[], 
    'Type':[], 
    'Year':[], 
    'Released':[], 
    'Rated':[], 
    'Runtime':[], 
    'Genre':[], 
    'Metascore':[], 
    'imdbRating':[], 
    'imdbVotes':[], 
    'BoxOffice':[],
    'Internet Movie Database':[], 
    'Rotten Tomatoes':[], 
    'Metacritic':[]
}
for name in df_movie_name['Movie Names'].to_list()[:10]:
    url = f'http://www.omdbapi.com/?apikey={API_KEY}&t={name}&type=movie'
    omdb_req = requests.get(url)
    omdb_data = omdb_req.json()
    movie_details_ver2['Title'].append(omdb_data['Title'])
    movie_details_ver2['Type'].append(omdb_data['Type'])
    movie_details_ver2['Year'].append(omdb_data['Year'])
    movie_details_ver2['Released'].append(omdb_data['Released'])
    movie_details_ver2['Rated'].append(omdb_data['Rated'])
    movie_details_ver2['Runtime'].append(omdb_data['Runtime'])
    movie_details_ver2['Genre'].append(omdb_data['Genre'])
    movie_details_ver2['Metascore'].append(omdb_data['Metascore'])
    movie_details_ver2['imdbRating'].append(omdb_data['imdbRating'])
    movie_details_ver2['imdbVotes'].append(omdb_data['imdbVotes'])
    movie_details_ver2['BoxOffice'].append(omdb_data['BoxOffice'])
    movie_details_ver2['Internet Movie Database'].append(omdb_data['Ratings'][0]['Value'])
    movie_details_ver2['Rotten Tomatoes'].append(omdb_data['Ratings'][1]['Value'])
    movie_details_ver2['Metacritic'].append(omdb_data['Ratings'][2]['Value'])
movie_details_ver2

{'Title': ['The Shawshank Redemption',
  'The Godfather',
  'The Godfather Part II',
  "Schindler's List",
  'The Dark Knight',
  'The Lord of the Rings: The Return of the King',
  'Pulp Fiction',
  'Fight Club',
  'Forrest Gump',
  'Inception'],
 'Type': ['movie',
  'movie',
  'movie',
  'movie',
  'movie',
  'movie',
  'movie',
  'movie',
  'movie',
  'movie'],
 'Year': ['1994',
  '1972',
  '1974',
  '1993',
  '2008',
  '2003',
  '1994',
  '1999',
  '1994',
  '2010'],
 'Released': ['14 Oct 1994',
  '24 Mar 1972',
  '18 Dec 1974',
  '04 Feb 1994',
  '18 Jul 2008',
  '17 Dec 2003',
  '14 Oct 1994',
  '15 Oct 1999',
  '06 Jul 1994',
  '16 Jul 2010'],
 'Rated': ['R', 'R', 'R', 'R', 'PG-13', 'PG-13', 'R', 'R', 'PG-13', 'PG-13'],
 'Runtime': ['142 min',
  '175 min',
  '202 min',
  '195 min',
  '152 min',
  '201 min',
  '154 min',
  '139 min',
  '142 min',
  '148 min'],
 'Genre': ['Drama',
  'Crime, Drama',
  'Crime, Drama',
  'Biography, Drama, History',
  'Action, Crime, Drama',
  'Action, Adventure, Drama',
  'Crime, Drama',
  'Drama',
  'Drama, Romance',
  'Action, Adventure, Sci-Fi'],
 'Metascore': ['82', '100', '90', '95', '84', '94', '95', '67', '82', '74'],
 'imdbRating': ['9.3',
  '9.2',
  '9.0',
  '9.0',
  '9.0',
  '9.0',
  '8.9',
  '8.8',
  '8.8',
  '8.8'],
 'imdbVotes': ['2,907,297',
  '2,031,306',
  '1,371,756',
  '1,462,041',
  '2,896,249',
  '1,995,895',
  '2,240,306',
  '2,347,815',
  '2,271,898',
  '2,572,598'],
 'BoxOffice': ['$28,767,189',
  '$136,381,073',
  '$47,834,595',
  '$96,898,818',
  '$534,987,076',
  '$381,878,219',
  '$107,928,762',
  '$37,030,102',
  '$330,455,270',
  '$292,587,330'],
 'Internet Movie Database': ['9.3/10',
  '9.2/10',
  '9.0/10',
  '9.0/10',
  '9.0/10',
  '9.0/10',
  '8.9/10',
  '8.8/10',
  '8.8/10',
  '8.8/10'],
 'Rotten Tomatoes': ['89%',
  '97%',
  '96%',
  '98%',
  '94%',
  '94%',
  '92%',
  '80%',
  '76%',
  '87%'],
 'Metacritic': ['82/100',
  '100/100',
  '90/100',
  '95/100',
  '84/100',
  '94/100',
  '95/100',
  '67/100',
  '82/100',
  '74/100']}

In [194]:
# Explore the types and see which column needs cleaning
df_movies.dtypes
# Year --> int
# Released --> datetime
# Runtime --> Remove min then convert to int
# Metascore --> int
# imdbRating --> float
# imdbVotes and BoxOffice --> int

# Optional:
# Internet Movie Database --> You can rename the column to 'Internet_Movie_Database_outof_10' and remove the '/10' and convert to float
# Rotten Tomatoes --> You can rename the column to 'Rotten_Tomatoes_%' and remove the '%' and convert to float/int
# Metacritic --> You can rename the column to 'Metacritic_%' and remove the '/100' and convert to float/int

Title                      object
Type                       object
Year                       object
Released                   object
Rated                      object
Runtime                    object
Genre                      object
Metascore                  object
imdbRating                 object
imdbVotes                  object
BoxOffice                  object
Internet Movie Database    object
Rotten Tomatoes            object
Metacritic                 object
dtype: object

In [ ]:
# Save the cleaned data as csv

In [ ]:
# Do some analysis including some visulizations